body {
  background-color: lightgrey;
  background-image: url('./src/components/images/background.jpg');
  background-size: 100% auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  opacity: 0.5;
}

