body {
  background-color: rgb(55, 58, 75) ;
  background-size: 100% auto;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: whitesmoke;
  opacity: 0.5;
}

